<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-4relative [%thread] %-5level %class - %msg%n</pattern>
        </encoder>
    </appender>
    <root>
        <level value="WARN"/>
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>